<p id="notice"><%= notice %></p>

<h1>Items</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
     
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.items %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Beer Pong Teams', beerpong_path %>
<%= link_to 'Items Being Brought', items_path %>
<%= link_to 'New Guest', new_guest_path %>
